@{
    ViewBag.Title = "Home Page";
}

<main>
    <h4>Landing page: </h4>
    <table>
        <tr>
            <th>Name: </th>
            <td>Bkash</td>
        </tr>
        <tr>
            <th>Address:  </th>
            <td>Banani</td>
        </tr>
        <tr>
            <th>Email: </th>
            <td>bkash@gmail.com</td>
        </tr>
        <tr>
            <th>Description: </th>
            <td>This is moblie banking system</td>
        </tr>
    </table>
</main>